<%= attachment_image_tag info, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tr>
    <th>name</th> 
    <th><%= info.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= info.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to info.following.count, user_followings_path(info) %></th>
  </tr>
    <th>followers</th>
    <th><%= link_to info.followers.count, user_followers_path(info) %></th>
</table>

  
<% if info == current_user %>
  <%= link_to edit_user_path(info), method: :get do %>
    <i class="btn btn-outline-secondary btn-block fas fa-user-cog mb-4"></i>
  <% end %>
<% end %>
  
  
<% unless info == current_user %>
  <% if current_user.following?(info) %>
    <%= link_to 'フォロー', user_relationships_path(info), class: 'btn btn-success form-control', method: :delete %>
  <% else %>
    <%= link_to 'フォロー解除', user_relationships_path(info), class: 'btn btn-danger form-control', method: :post %>
  <% end %>
<% end %>
<br>
<% if current_user != info %>
  <%= link_to 'DM', chat_path(info.id), class: "btn btn-info mt-2 m form-control" %>
<% end %>
