<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render "user_info" %>
        
      <h2>New book</h2>
        <%= render "form", obj: @book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: '60x60' %></td>
              <td><%= user.name %></td>
              <td>フォロー数: <%= user.following.count %></td>
              <td>フォロワー数: <%= user.followers.count %></td>
              <td>
                <% unless user == current_user %>
                  <% if current_user.following?(user) %>
                    <%= link_to 'フォロー外す', user_relationships_path(user), method: :delete %>
                  <% else %>
                    <%= link_to 'フォローする', user_relationships_path(user), method: :post %>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to 'Show', user_path(user.id) %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>