<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @books.each do |book| %>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(book.user) do %>
            <%= attachment_image_tag book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: '60x60' %>
          <% end %>
        </td>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
        
        <%= render "favorite", obj: book %>
        
        <td>コメント数:<%=book.book_comments.count %></td>
      </tr>
    </tbody>
  <% end %>
</table>