<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
      <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <table class="table">
        <tr>
          <th>name</th> 
          <th><%= current_user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%=current_user.body %></th>
        </tr>
      </table>      
        <% if current_user %>
          <%= link_to edit_user_path(current_user), method: :get do %>
            <i class="btn btn-outline-secondary btn-block fas fa-user-cog mb-4"></i>
          <% end %>
        <% end %>

      <h1>New book</h1>
        <% if @book.errors.any? %>
        <div class="error_explanation">
          <div class="error_head">
          <h2 class="error_head_text"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
          </div>
          <ul class="error_message">
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      <%= form_with model: @book, local:true do |f |%>
        <p>Tile</p>
        <%= f.text_field :title, class: 'w-100 mb-2' %>
        <p>Opinion</p>
        <%= f.text_area :body, class: 'w-100 mb-2' %>
        <p><%= f.submit 'Create Book', class: 'create' %></p>
      <% end %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
