<main class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 signup_form">
        <h2>Sign up</h2>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="field mb-2">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
        
          <div class="field mb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
        
          <div class="field mb-2">
            <%= f.label :postcode %><br />
            <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: 'form-control' %>
          </div>
          
          <div class="field mb-2">
            <%= f.label :prefecture_name %><br />
            <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください'}, class: 'form-control' %>
          </div>
          
          <div class="field mb-2">
            <%= f.label :address_city %><br />
            <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city", class: 'form-control' %>
          </div>
          
          <div class="field mb-2">
            <%= f.label :address_street %><br />
            <%= f.text_field :address_street, autofocus: true, autocomplete: "address_street", class: 'form-control' %>
          </div>
          
          <div class="field mb-2">
            <%= f.label :address_building %><br />
            <%= f.text_field :address_building, autofocus: true, autocomplete: "address_building", class: 'form-control' %>
          </div>
        
          <div class="field mb-2">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password,autofocus: true, autocomplete: "new-password", class: 'form-control' %>
          </div>
        
          <div class="field mb-2">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
          </div>
        
          <div class="sign_up actions mb-2">
            <%= f.submit "Sign up", class: 'form-control' %>
          </div>
        <% end %>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 signup_form">
          <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</main>